# mseR-ISCAM .gitignore file
# Add file names or regular expressions to ignore when updating git repo

# ---- Temporary R and ADMB files --- #
*.DS_Store
*.Rapp.history

sr.Rmd
sr.tex
csas-style/images/*.*